<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7559364166-f2s0h6dgnvpil9gen1477gm79n0kkj6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7559364166-f2s0h6dgnvpil9gen1477gm79n0kkj6t</string>
	<key>API_KEY</key>
	<string>AIzaSyClao8jVFD2t1yO7ub0hv9n-JeVmLJZZiM</string>
	<key>GCM_SENDER_ID</key>
	<string>7559364166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AmrHossam.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-26281</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-26281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7559364166:ios:aa5a526f4ab0e793e51447</string>
</dict>
</plist>